Data/
.venv/
DataPreprocessing/faiss_clip.bin
DataPreprocessing/faiss_clip_l14.bin
DataPreprocessing/faiss_ocr.bin
DataPreprocessing/idx2keyframe.json
DataPreprocessing/map_keyframes.json
DataPreprocessing/sparse_context_matrix_ocr.npz
DataPreprocessing/tfidf_transform_ocr.pkl
DataPreprocessing/Yolov10-AIChallenge 
DataPreprocessing/object_classes.json
DataPreprocessing/object.json
DataPreprocessing/DataPreprocessing.rar
DataPreprocessing/PaddleOCR
!DataPreprocessing/PaddleOCR/extract_ocr.py
!DataPreprocessing/Yolov10-AIChallenge/saving_class_dict.py
!DataPreprocessing/Yolov10-AIChallenge/extracting_classes.py
test.py
__pycache__
DataPreprocessing/TransNetV2
input/
output/
submission/
submission.zip