Data/
.venv/
DataPreprocessing/*
!DataPreprocessing/**/
!DataPreprocessing/Yolov10-AIChallenge/saving_class_dict.py
!DataPreprocessing/PaddleOCR/extract_ocr.py
!DataPreprocessing/*.ipynb
!DataPreprocessing/*.py
test.py
test2.py
test3.py
test4.py
static
test3.py
bike.jpg
__pycache__
DataPreprocessing/TransNetV2
input/
output/
submission/
submission.zip
images.jfif
.streamlit(renametouse)